@import "compass/reset";
@import "compass/css3/box-sizing";

* {
  @include box-sizing(content-box);
}

h1, h2, h3, h4 {
  font-weight: bold;
}

#title {
  font-size: 100%;
  width: 100%;
  margin-bottom: 0;
  padding: 3px 3px;
  background-color: red;
}

.loading {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

.mails {
  width: 100%;
  tr.active {
    background-color: yellow;
  }
  th {
    padding: 3px 10px 3px 0px;
    &:first-child {
      padding-left: 3px;
    }
  }
}
